*

!config
!config/**/*

!files
!files/**/*

!pyscript
!pyscript/**/*
pyscript/**/__init__.py
pyscript/apps/debug/**/*
pyscript/logs/**/*
pyscript/snippets/**/*
pyscript/modules/constants/secrets.py

!scripts
!scripts/**/*

!templates
!templates/**/*

!www
!www/**/*
www/community/*

!README.md
!.gitignore

**/__pycache__/

**/*.log