*
!configuration.yaml
!homeassistant.yaml
!system.yaml
!ui-lovelace.yaml

!config
!config/**/*

!files
!files/**/*

!pyscript
!pyscript/**/*
pyscript/logs/**/*
pyscript/modules/secrets.py
pyscript/snippets/**/*

!scripts
!scripts/**/*

!templates
!templates/**/*

!www
!www/**/*
www/community/*

!README.md
!.gitignore

*.log